.todo-app-container {
    margin: 20px auto;
    width: 500px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
}
 .todo-app-container .main-title {
     margin-bottom: 10px;
 }

 .todo-list li{
     text-align: left;
     list-style-type: none;
 }
 .todo-list li span {
     float: right;
     cursor: pointer;
 }
